* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} /* This is used to fix an specific width even when you add padding */

h1 {
	font-family: sans-serif;
	font-size: 27px;
	font-weight: 900;
	color: #2e3641;
	margin: 0 0 10px 0;
}
h2 {
	font-family: sans-serif;
	font-size: 24px;
	color: #e9f0f4;
	margin: 0;
	padding: 15px 0 0 20px;
}
a {
	text-decoration: none;
	color: #9eb2c0;
}
	a:hover {
		text-decoration: underline;
	}
p {
	font-size: 13px;
	color: #9eb2c0;
	margin: 15px 0 5px 20px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

textarea {
	border-color: #dae4eb;
	color: #dae4eb;
	font-family: Times;
	margin: 20px 0 0 20px;
}

.container {
	background-color: #ffffff;
}

.bar {
	background-color: #2e3641;
	text-align: center;
}
	.title-bar {
		height: 55px;
		text-align: left;
	}
		.more-bar {
			background-color: #c1cfd9;
			position: relative; /*To make absolute position in .scroll (Check "Recent Posts" and "Categories")*/
		}
.btn {
	display: inline-block;
	line-height: 35px;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f97e76;
	color: #ffffff;
	text-align: center;
}

#main-container {
	width: 1600px;
	height: 1200px;
	background-color: #e9f0f4;
	margin: 0 auto;
	padding: 80px;
}
	#left-container {
		width: 570px;
		float: left;
	}
		#newPost {
			height: 675px;				
		}
			.side {
				width: 90px;
				height: 675px;
				float: left;	
			}
				.side a {
					display: block;
					line-height: 90px;					
				}
					.document {
						background: #ffffff;
						color: #2e3641;
					}					
			.newPostContent {
				width: 480px;
				float: left;
				padding-left: 40px;
				padding-top: 70px;
			}
				.post-title {
					width: 400px;
					height: 45px;
					margin:0 0 20px 0;
					font-size: 24px;
					font-weight: bold;
				}				
				.format-bar {
					height: 45px;
					width: 400px;
				}
				.format-bar a {
					display: block;
					float: left;
					width: 45px;
					line-height: 45px;
					border-right: solid 1px #3a414d;				
				}
				.post-body {
					width: 400px;
					height: 290px;
					color: black;
					margin: 0 0 20px 0;
				}
				.newPostContent .btn {
					width: 120px;
					line-height: 45px;
				}
					.nonClicked {
						background: #c1cfd9;
					}
		#messages {
			height: 90px;
			margin-top: 60px;
		}
			#messages a {
				display: block;
				float: left;
				width: 90px;
				line-height: 90px;
				border-right: solid 1px #3a414d;
			}
			.search-message {
				width: 245px;
				height: 35px;
				border: solid 1px #49525d;
				background: #3d444e;
				color: white;
				margin-top: 27.5px;
			}
		#suscribe {
			height: 160px;
			margin-top: 60px;
		}
			#suscribe textarea {
				width: 400px;
				height: 35px;
				margin: 0 0 0 20px;
			}
			#suscribe .btn {
				width: 120px;
				margin-left: 5px;
			}

	#middle-container {
		width: 430px;
		float: left;
		margin: 0px 60px;
	}
		#relatedPosts {
			height: 390px;
		}
			.rpost {
				margin-bottom: 40px;
				width: 310px;
			}
				.rpost a:first-child {
					color: #f97e76;
					font-size: 16px;
					font-weight: bold;					
					line-height: 150%;
				}
		#tags {
			height: 165px;
			margin-top: 60px;
		}
			#tags textarea{
				width: 300px;
				height: 35px;
			}
			#tags .btn {
				width: 80px;
				margin: 20px 0 0 5px;
			}
			#tags p {
				font-size: 11px;
				margin-top: 8px;
			}
		#map {
			height: 370px;
			margin-top: 60px;
		}
			.map {
				width: 430px;
				height: 300px;
				background: #ddcec2;
			}
				.map .btn {
					width: 35px;
					font-size: 20px;
					display: block;
					position: relative;
					top: 20px;
					left: 20px;
				}
					.map .btn:last-child {
						margin-top: 2px;
					}
			#map textarea {
				width: 260px;
				height: 35px;
			}
			#map .addMap {
				width: 120px;
				margin: 20px 0 0 5px;
			}

	#right-container {
		width: 320px;
		float: left;
	}
		#calendar {
			height: 330px;
		}
			.calendar-bar a {
				display: block;
				float: left;
				line-height: 55px;
				border-right: solid 2px #3a414d;
				border-bottom: solid 2px #3a414d;
				text-align: center;
			}
				.arrow {
					width: 55px;
				}
				.month {
					width: 210px;
				}
			.calendar-bar h2 {
				padding: 0;
			}
			.calendar-container {
				width: 320px;
				height: 275px;
				background: #f97e76;				
			}
				.calendar {
					width: 320px;
					height: 255px;
					text-align: center;						
				}
					.daysWeek {
						background: #2e3641;
						color: #c7c9cc;						
					}
					.days {
						color: #ffffff;
						font-size: 24px;
					}
						.daysOut {
							color: #fbb2ad;
						}
						.today {
							background: #2e3641;
						}
		#recentPosts {
			margin-top: 30px;			
		}
			.scroll {
				display: block;
				line-height: 55px;
				width: 55px;
				position: absolute; /*.more-bar is relative*/
				top: 0;
				right: 0;
				text-align: center;
				background: #9eb2c0;
				color: #ffffff;
			}
		#categories {
			height: 305px;
			margin-top: 10px;
		}
			#categories textarea {
				width: 280px;
				height: 35px;
				font-size: 18px;
				font-weight: bold;
			}
			#categories .btn {
				width: 80px;
			}
				.save {
					float: left;
					margin: 20px 0 0 20px;
					background: #a8bd44; 
				}
				.delete {
					float: right;
					margin: 20px 20px 0 0;
				}
		#moreOptions {
			height: 250px;
			margin-top: 60px;
		}
			.moreOptions-bar a{
				display: inline-block;
				float: left;
				line-height: 55px;
				width: 106.66666666667px;
				text-align: center;				
				font-weight: bold;
				font-size: 16px;
			}
				.popular {
					background: #ffffff;
					color: #c5d2dc;
				}
				.comments {
					background: #9eb2c0;
					color: #ffffff;
				}
				.recent {
					background: #c5d2dc;
					color: #ffffff;
				}
			.popular {
				float: left;
			}
				.profile-img {
					width: 55px;
					height: 55px;
					background: #786665;
					float: left;
					margin: 15px 0 0 20px;
				}
				.popular p {
					float: left;
					margin-left: 15px;
				}
					.popular a:first-child {
						font-size: 14px;
						color: #f97e76;
						font-weight: 900;
						line-height: 200%;
					}

